body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
 }
.container {
  width: 1160px;

  padding: 0 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: top;

  border-radius: 3px;
}
.btn[type="submit"],
.btn[type="button"] {
  font-size: 16px;
  line-height: 18px;
  border: none;
  outline: none;
}

.header-slider .btn,
.products-category-1 .btn,
.footer-contacts .btn,
.modal-write-us .btn {
  font-size: 16px;
  background-color: #fb565a; 
  border-top: 3px solid #fb565a;
}
.header-slider .btn:hover, 
.header-slider .btn:focus,
.products-category-1 .btn:hover,
.products-category-1 .btn:focus,
.footer-contacts .btn:hover, 
.footer-contacts .btn:focus,
.modal-write-us .btn:hover, 
.modal-write-us .btn:focus {
  background-color: #e74246;
  border-top: 3px solid #e74246;
  outline: none;
}
.header-slider .btn:active,
.products-category-1 .btn:active,
.footer-contacts .btn:active, 
.modal-write-us .btn:active {
  color: #e48789;

  background-color: #d7373b;
  border-top: 3px solid #c13135;
}

.products-category-2 .btn {
  font-size: 16px;

  background-color: #00ca74;
  border-top: 3px solid #00ca74;
}
.products-category-2 .btn:hover,
.products-category-2 .btn:focus {
  background-color: #00bc6c;
  border-top: 3px solid #00bc6c;
  outline: none;
}
.products-category-2 .btn:active {
  color: #74c69c;

  background-color: #00aa62;
  border-top: 3px solid #009958;
}

.products-category-3 .btn {
  font-size: 16px;

  background-color: #efc84a;
  border-top: 3px solid #efc84a;
}
.products-category-3 .btn:hover,
.products-category-3 .btn:focus {
  background-color: #eab534;
  border-top: 3px solid #eab534;
  outline: none;
}
.products-category-3 .btn:active {
  color: #edc47f;

  background-color: #e5a722;
  border-top: 3px solid #ce961f;
}
.filter-form .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px; 
  color: #000000; 

  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}
.filter-form .btn:hover,
.filter-form .btn:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
  outline: none;
}
.filter-form .btn:active {
  color: #a9a9a9;

  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  border-top: 3px solid #bfbfbf;
}
.header-slider .btn {
  padding: 15px 55px 15px 55px;
}
.products-category .btn { 
  padding: 15px 40px 15px 40px;
}
.footer-contacts .btn {
  padding: 13px 44px 16px 43px;
}
.modal-write-us .btn {
  padding: 13px 80px 15px 80px;
}
.catalogue-item-data .btn {
  padding: 13px 60px 15px 60px;
}
.filter-form .btn {
  padding: 13px 84px 12px 84px;
}


.main-header {
  padding: 50px 0 0 0;

  background: #eeeeee;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header-logo {
  width: 161px;
  height: 65px;
}
.header-logo img {
  width: 161px;
  height: 65px;
}
.header-logo:hover svg{
  fill: #303030;
}
.header-logo:focus svg {
  fill: #303030;

  border: 2px #fb565a;
  outline: none;
}
.header-logo:focus {
  outline: 4px solid #fb565a;
}
.header-logo:active {
  outline: none;
}
.header-logo:active svg {
  fill: #a6a6a6;
}

.site-navigation { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 486px;

  padding: 0;
  margin: 0;
  
  list-style: none;
}
.site-navigation li{
  padding: 25px 23px 0 23px;
}
.header-cart {
  padding: 25px 0 0 45px;
}
.header-cart a,
.header-cart .current {
  position: relative;
  padding-left: 40px;
}
.header-cart a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 15px;
  height: 15px;

  background-color: transparent;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}
.site-navigation a,
.header-cart a,
.site-navigation .current,
.header-cart .current {
  display: block;
  
  position: relative;
  padding-bottom: 6px;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation a:hover,
.header-cart a:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.header-cart a:focus {
  color: #fb565a;

  outline: none;
}
.site-navigation a:active,
.header-cart a:active {
  color: #bdbdbd;
}
.site-navigation .current::after {
  content: "";
  display: block;
  height: 2px; 
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  
  background-color: #fb565a;
}
.header-cart .current::after {
  content: "";
  display: block;
  height: 2px; 
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: #fb565a;
}

.header-slider {
  padding: 0;
  margin: 0;
}
.header-slider p {
  width: 460px;

  padding: 0;
  margin: 27px 0 39px 0;

  color: #283136;
}
.slide-2 p {
  width: 430px;
}
.header-slider .slide {
  padding: 79px 0 79px 0;

  background-repeat: no-repeat;
}
.header-slider .slide-1 {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: left 431px bottom 0;
}
.header-slider .slide-2 {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: left 497px bottom 0;
}
.header-slider .slide-3 {;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}
.promo-slogan { 
  display: block;

  padding: 0;
  margin: 0;
  
  font-weight: 500;
}
.header-slider .promo-slogan {
  width: 520px;
  font-size: 55px;
  line-height: 55px;
}

.products, 
.about-us, 
.portfolio {
  border-bottom: 2px solid #eeeeee;
}
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 81px 0 80px 0;
  margin: 0;

  list-style: none;
}
.products li {
  width: 300px;

  padding: 170px 0 0 0;
  margin-right: 100px;
  
  background-repeat: no-repeat;
  background-position: left 0 top 0;
}
.products li:nth-child(3n) {
  margin-right: 0;
}
.products .products-category h3 {
  margin: 0 0 18px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
}
.products p {
  width: 260px;

  padding: 0;
  margin: 15px 0 31px 0;

  color: #283136;
}
.products .products-category-1 {
  background-image: url("../img/product-1.png");
}
.products .products-category-2 {
  background-image: url("../img/product-2.png");
}
.products .products-category-3 {
  background-image: url("../img/product-3.png");
}


.about-us {
  padding: 0 0 70px 0;
  margin: 0;
}
.about-us .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 38px 0 0 0;
  margin: 0;
}
.about-us .columns-left {
  width: 760px;

  margin-right: auto;
}
.about-us .columns-right {
  width: 360px;
}
.about-us .promo-slogan {
  width: 660px;
  
  margin-top: 37px;
 
  font-size: 45px;
  line-height: 45px;
}
.about-us p {
  width: 660px;

  padding: 0;
  margin: 33px 0 30px 0;

  color: #283136;
}
.about-us .about-us-logo {
  display: block;

  width: 360px;
  height: 208px;

  padding: 0;
  margin: 0;
}
.about-us .about-us-logo img {
  width: 360px;
  height: 208px;
}
.about-us h3 {
  margin-top: 60px 0 30px 0;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.about-us h3:first-child {
  margin-top: 0;
}
.about-us ul {
  margin: 25px 0 60px 0;
}
.specialties-list {
  padding: 0;

  list-style: none;
}
.specialties-list li {
  padding: 0 0 0 35px;
  margin: 0 0 25px 0;
  position: relative;

  color: #283136;
}
.specialties-list li::before {
  content: "";
  width: 25px;
  height: 2px;

  position: absolute;
  top: 10px;
  left: 1px;
  
  background-color: #fb565a;
}
.about-us table {
  margin: 30px 0 60px 0;
}
.features .features-table {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 0;

  border-collapse: collapse;
  border: none;
}
.features .features-table th {
  width: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 0 20px 0 0;
  margin: 0;
  position: relative;

  font-size: 45px;
  line-height: 65px;
  text-align: left;
}
.features .features-table sup {
  position: absolute;
  top: -7px;

  font-size: 28px;
}
.features .features-table td {
  padding: 8px 0 0 0;

  line-height: 18px;
  color: #283136;
}
.about-us .columns-left *:last-child,
.about-us .columns-right *:last-child,
.specialties  *:last-child,
.features *:last-child {
  margin-bottom: 0;
}
.about-us .columns-left *:first-child,
.about-us .columns-right *:first-child,
.about-us section *:first-child {
  margin-top 0;
}
.about-us section:not(:first-child) {
  padding-top: 40px;
}



.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

 padding: 0 30px 45px 30px;
}
.portfolio .portfolio-item {
  display: block;
  position: relative;
}
.portfolio .portfolio-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: 0;
  top: 64px;
  background-color: #eeeeee;
}
.portfolio .portfolio-item:nth-of-type(4n)::after {
  display: none;background-color: red
}
.portfolio .portfolio-item-htmlacademy {
  width: 200px;
  padding: 62px 51px 0 0;
}
.portfolio .portfolio-item-borodinskiy {
  width: 209px;
  padding: 46px 46px 0 45px;
}
.portfolio .portfolio-item-pink {
  width: 185px;
  padding: 65px 57px 0 57px;
}
.portfolio .portfolio-item-mishka {
  width: 173px;
  padding: 52px 0 0 63px;
}
.portfolio img {
  display: block;
}
.portfolio .portfolio-item-htmlacademy img {
  width: 199px;
  height: 68px;
}
.portfolio .portfolio-item-borodinskiy img {
  width: 209px;
  height: 86px;
}
.portfolio .portfolio-item-pink img {
  width: 185px;
  height: 52px;
}
.portfolio .portfolio-item-mishka img {
  width: 173px;
  height: 84px;
}
.portfolio .portfolio-item img {
  opacity: 0.2;
}
.portfolio .portfolio-item:hover img {
  opacity: 1;
}
.portfolio .portfolio-item:focus img {
  opacity: 1;
  outline: none;
}
.portfolio .portfolio-item:active img {
  opacity: 0.1;
}

.main-footer {
  padding: 80px 0 0 0;
}
.inner-page .main-footer{
  padding: 58px 0 0 0;
}
.footer-contacts {
  width: 100%;
  position: relative;
}
.contacts-container {
  width: 100%;
  position: absolute;
  top: 54px;
  left: 0;
 
  z-index: 10;background-color: pink
}
.contacts-container .container {
  position: relative;
}
.contacts-info {
  width: 320px;
  
  padding: 48px 40px 47px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 20px;

  background-color: #ffffff; 
}
.contacts-info h3 {
  padding: 0;
  margin: 0 0 25px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts-text {
  margin-bottom: 38px;
}
.contacts-info p {
  padding: 0;
  margin: 0 0 17px 0;

  line-height: 18px;
  color: #666666;
 }
.contacts-info p:last-of-type {
  margin-bottom: 0;
}
.map-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
}
.container-1 {
  width: 1160px;

  margin: 0 auto;
}
.footer-map {
  width: 1200px;
  height: 416px;
  position: relative;
  z-index: 2;
}
.footer-map img {
  width: 100%;
 
  position: absolute;
  top: 0;
  left: 0;
}
iframe {
  width: 100%;
  height: 416px;

  border: none;
}
.i-map-container {
  position: relative;
  width: 100%;
  height: 416px;

  z-index: 5;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 63px 0 55px 0;
  margin: 0;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 280px;

  padding: 0;
  margin: 0 120px 0 0;
}
.footer-social .social-btn {
  display: block;
  width: 78px;
  height: 78px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding-top: 30px;
  margin: 0 13px 12px 0;

  text-align: center;
  vertical-align: top;

  background-color: #e1e1e1;
  border-radius: 50%;
}
.footer-social .social-btn:hover,
.footer-social .social-btn:focus {
  background-color: #e74246;
  outline: none;
}
.footer-social .social-btn:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 2px 0 2px #c13135;
          box-shadow: inset 0 2px 0 2px #c13135;
}
.footer-social .social-btn:active svg {
  opacity: 0.3;
}
.footer-promo {
  width: ;
 
  padding: 5px 0 0 0;
}
.footer-promo .promo-slogan {
  padding: 0;
  margin: 0;

  font-size: 36px;
  line-height: 36px;
}
.footer-promo p {
  padding: 0;
  margin: 12px 0 12px 0; 
  line-height: 22px;
  color: #444444; 
}


.inner-page .main-header  {
  padding-bottom: 1px;
}
.inner-page .main-header h1 {
  padding: 0 0 1px 0;
  margin: 77px 0 105px 0;
  
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}
.inner-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding-top: 60px;
}
.inner-page .filter-name {
  display: block;

  padding: 0;
  
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.filter-form .filter-form-price {
  width: 260px;
  padding: 0;
  margin: 3px 0 55px 0;
}
.filter-form-price .filter-name {
  margin: 0 0 53px 0;
  border-top: 1px solid transparent;
  line-height: 18px;
}
.filter-form-group .filter-name {
  margin: 0 0 15px 0;

  line-height: 30px;
}
.filter-form fieldset {
  border: none;
}
.filter-form .filter-form-group {
  padding: 0;
  margin: 0 0 27px 0;
}
.filter-form-price .price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 0;
}
.price-controls p {
  display: inline-block;
  padding: 0;
  margin: 0;   
  vertical-align: top;
}
.filter-form-price .price-indicator {
  height: 79px;
  
  position: relative;
  padding: 1px 20px 0 20px;
  margin: 0 0 12px 0;

  border-radius: 3px;
  background-color: #eeeeee;
}
.price-indicator .scale {
  height: 2px;
  
  margin-top: 38px;

  background-color: #d7dcde;
}
.price-indicator .bar {
  height: 2px;
  background-color: #00ca74;
}
.price-indicator .toggle {
  width: 4px;
  height: 4px;
  
  position: absolute;
  top: 30px;
  left: 19px;

  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cccdcd;
          box-shadow: 0 2px 1px 0 #cccdcd;
  background: #ababab;
}
.price-indicator .max-toggle {
  left: 160px;
}
.filter-form-price label {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}
.filter-form-price input[type="text"] {
  display: inline-block;
  width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 8px 10px 5px 10px;
  margin: 0 0 0 7px;

  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  vertical-align: baseline;

  border: 2px solid #eeeeee;
  border-radius: 3px;
  background-color: #eeeeee;
}
.filter-form-price input[type="text"]:hover {
  background-color: #dfdfdf;
  border: 2px solid #dfdfdf;
}
.filter-form-price input[type="text"]:focus {
  outline: none;
  border: 2px solid #bfbfbf;
  background-color: #dfdfdf;
}
.filter-form-price input[type="text"]:invalid {
  color: rgba(0, 0, 0, 0.3);
}

.filter-form-group p { 
  padding: 0;
  margin: 0 0 20px 0;
}
.filter-form-group input[type="radio"] + label, 
.filter-form-group input[type="checkbox"] + label {
  display: block;

  position: relative;
  padding-left: 36px;
  margin: 0;

  line-height: 20px;
  color: #283136;
}
.filter-form-group input[type="radio"] + label:hover, 
.filter-form-group input[type="checkbox"] + label:hover {
    color: #000000;
}
.filter-form-group input[type="radio"]:focus + label,
.filter-form-group input[type="checkbox"]:focus + label,
.filter-form-group input[type="radio"]:checked:focus + label,
.filter-form-group input[type="checkbox"]:checked:focus + label {
   color: #000000;
}
.filter-form-group input[type="radio"]:disabled + label,
.filter-form-group input[type="checkbox"]:disabled + label,
.filter-form-group input[type="radio"]:checked:disabled + label,
.filter-form-group input[type="checkbox"]:checked:disabled + label {
  opacity: 0.3;
}
.filter-form-group input[type="radio"] + label::before, 
.filter-form-group input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;

  padding: 0;
  margin: ;
  position: absolute;
  top: -3px;
  left: 0;
      
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-form-group input[type="radio"] + label::before {
  background-image: url("../img/radio-off.svg");
}
.filter-form-group input[type="checkbox"] + label::before {
  background-image: url("../img/checkbox-off.svg"); 
}
.filter-form-group input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
}
.filter-form-group input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-form-group input[type="radio"] + label:hover::before,
.filter-form-group input[type="checkbox"] + label:hover::before,
.filter-form-group input[type="radio"]:checked + label:hover::before,
.filter-form-group input[type="checkbox"]:checked + label:hover::before {
  opacity: 1;
}

.filter-form-group input[type="radio"]:focus + label::before,
.filter-form-group input[type="checkbox"]:focus + label::before,
.filter-form-group input[type="radio"]:checked:focus + label::before,
.filter-form-group input[type="checkbox"]:checked:focus + label::before {
  opacity: 1;
}
.filter-form-group input[type="radio"]:disabled + label::before,
.filter-form-group input[type="checkbox"]:disabled + label::before,
.filter-form-group input[type="radio"]:checked:disabled + label::before,
.filter-form-group input[type="checkbox"]:checked:disabled + label::before {
  opacity: 0.1;
}

.catalogue {
  width: 760px;
}
.catalogue .catalogue-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  margin: 0 0 45px 0;
}
.catalogue .filter-name {
  margin: 0 0 0 0;
  margin-right: auto;

  line-height: 18px;
}
.catalogue-filter .catalogue-filter-list {
display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 305px;

  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style: none;
}
.catalogue-filter-list li {
  padding: 0 26px 0 0;
  margin: 0;
}
.catalogue-filter-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;
}
.catalogue-filter-list a:hover, 
.catalogue-filter-list a:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}
.catalogue-filter-list a.current,
.catalogue-filter-list a:active {
  color: rgba(0, 0, 0, 1)
}
.catalogue-filter .sort-by {
  padding: 7px 0 0 17px;
  margin: 0;
}/*HERE are changes!!!!*/
.catalogue-filter .arrow {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
 
  border: none;
  outline: none;
  background-color: transparent;

  opacity: 0.2;
}
.catalogue-filter .arrow-down {
  margin-right: 12px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.catalogue-filter .arrow-up {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.catalogue-filter .arrow:hover,
.catalogue-filter .arrow:focus {
  opacity: 0.4;
  outline: none;
}
.catalogue-filter .arrow:active {
  opacity: 1;
}
.catalogue-filter .current,
.catalogue-filter .current:hover,
.catalogue-filter .current:focus,
.catalogue-filter .current:active {
  opacity: 1;
  outline: none;
}
/*
.catalogue-filter .arrow {
  display: inline-block;
  
  border: 11px solid #ededed;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;

  vertical-align: top;
}

.catalogue-filter .arrow-down {
  border-bottom-width: 0;
  margin-right: 12px;
}
.catalogue-filter .arrow-up {
  border-top-width: 0;
}
.catalogue-filter .arrow:hover,
.catalogue-filter .arrow:focus {
  border-top-color: #a6a6a6;
  outline: none;
}*/
/*
.catalogue-filter .arrow-down:hover,
.catalogue-filter .arrow-down:focus,
.catalogue-filter .arrow-up:hover,
.catalogue-filter .arrow-up:focus {
  border-top-color: #a6a6a6;
  outline: none;
}
.catalogue-filter .arrow-down:active,
.catalogue-filter .arrow-up:active {
  border-bottom-color: #231f20;
}*/
/*
.catalogue-filter .current,
.catalogue-filter .current:hover,
.catalogue-filter .current:focus {
  border-top-color: #231f20;
  outline: none;
}*/

.catalogue-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 760px;
  
  margin: 0 0 27px 0;
}
.current-reverse {
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse; 
}
.catalogue .catalogue-item {
  width: 360px;
  
  position: relative;

  margin: 0 0 33px 0;
}
.catalogue .catalogue-item > a {
  display: block;
  width: 360px;
  
  padding: 40px 0 0 0;
  margin: 0; 
  position: relative;
}
.catalogue .catalogue-item > a::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;

  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;

  background: transparent url("../img/browser.svg") no-repeat;
  border-radius: 3px 3px 0 0;

  opacity: 0.12;
}
.catalogue .catalogue-item img {
  display: block;
  width: 358px;
  height: 574px;

  border: 1px solid #e5e5e5;
}
.catalogue-item > a:hover,
.catalogue-item > a:focus {
  outline: 0;
  -webkit-box-shadow:  0 6px 25px 0 rgba(0, 0, 0, 0.25);
          box-shadow:  0 6px 25px 0 rgba(0, 0, 0, 0.25)
}
.catalogue-item > a:hover::before,
.catalogue-item > a:focus::before {
  opacity: 1;
}
.catalogue-item-data {
  width: 230px;/*width: 200px*/
  
  /*padding: 27px 80px 43px 80px;*/
  padding: 25px 65px 44px 65px;
  position: absolute;
  bottom: 0;
  left:0 ;
  text-align: center;

  background-color: #eeeeee;

  -o-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.catalogue-item:hover .catalogue-item-data,
.catalogue-item:focus .catalogue-item-data {
  display: block;
}

.catalogue-item-data .catalogue-item-title {
  display: block; 
  padding: 0;
  margin: 0;/*margin: 0;*/

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none; 
}
.catalogue-item-content {
  max-height: 425px;/*379*/
  padding: 0;
  margin: 0;

  overflow-y: auto;
}
.catalogue-item-data p {
  padding: 0;
  margin: 20px 0 30px 0;/*margin: 20px 0 27/32px 0;*/

  line-height: 18px;
  color: #666666; 
}
.catalogue-item-data .btn {
  margin: ;
  font-size: 16px;
  background-color: #fb565a; 
  border-top: 3px solid #fb565a;
}
.catalogue-item-data .btn:hover, 
.catalogue-item-data .btn:focus {
  background-color: #e74246;
  border-top: 3px solid #e74246;
  outline: none;
}
.catalogue-item-data .btn:active {
  color: #e48789;

  background-color: #d7373b;
  border-top: 3px solid #c13135;
}
.catalogue-paginaton {
  padding: 0;
  margin: 0;
  list-style: none;
}
.catalogue-paginaton li{
  display: inline-block;

  margin-right: 7px;

  vertical-align: top;
}
.catalogue-paginaton .btn-page {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 14px 17px 12px 18px;
  
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;
}
.catalogue-paginaton .btn-page:hover,
.catalogue-paginaton .btn-page:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
  outline: none;
}
.catalogue-paginaton .btn-page:active {
  color: #a9a9a9;

  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  border-top: 3px solid #bfbfbf;
}
.catalogue-paginaton-current .btn-page,
.catalogue-paginaton-current .btn-page:hover,
.catalogue-paginaton-current .btn-page:focus,
.catalogue-paginaton-current .btn-page:active {
  color: #000000;
  
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}
.catalogue-paginaton li:last-child .btn-page {
  width: auto;
  padding-left: 75px;
  padding-right: 75px;

  text-align: center;
}


/*Modal pop-up*/
.modal-write-us {
  display: block;
  width: 760px;
  
  position: fixed;
  bottom: 120px;
  left: 50%;
  padding: 70px 100px 65px 100px;
  margin-left: -480px;
  margin-top: 120px;

  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
  background-color: #ffffff;
  z-index: 10;
}
.modal-none {
  display: none;
}
@keyframe bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}
.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.7s;
}
@keyframe shake {
  0%, 100% {transform: trasnslateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: trasnslateX(-10px);}
  20%, 40%, 60%, 80% {transform: trasnslateX(10px);}
}
.modal-error {
  animation-name: shake;
  animation-duration: 0.7s;
}
.modal-write-us .write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 20px 0 20px 0; 
}
.write-us-form p {
  padding: 0;
  margin: 20px 0 15px 0;
}
.modal-write-us .half-width {
  width: 360px;
}
.modal-write-us .half-width:first-child {
  margin-right: 40px;
}
.modal-write-us .one-width {
  width: 100%;
  flex-shrink: 0;
}

.modal h2 {
  padding: 0;
  margin: 0 0 20px 0; 

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.modal-write-us .modal-close {
  display: block;
  width: 21px;
  height: 21px;

  position: absolute;
  top: 78px;
  right: 90px;

  background: transparent url("../img/close-cross.svg") no-repeat center;
  border: none;
  outline: none;
  
  opacity: 0.3
}
.modal-write-us .modal-close:hover,
.modal-write-us .modal-close:focus {
  opacity: 1;
}
.modal-write-us .modal-close:active {
  opacity: 0.1;
}
.modal-write-us label { 
  display: block;

  margin: 0 0 10px 0;  

  font-weight: 700;
  line-height: 18px;
}
.modal-write-us input[type="text"] {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  padding: 11px 14px 13px 14px;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  vertical-align: top;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}
.modal-write-us textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 11px 14px 11px 14px;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);

  outline: none;
  -moz-appearance: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;

  resize: none;  
}
.modal-write-us input[type="text"]:hover,
.modal-write-us textarea:hover {
  border: 2px solid #b4b9bb;
}
.modal-write-us input[type="text"]:focus,
.modal-write-us textarea:focus {
  color: rgba(68, 68, 68, 1);

  outline: none;
  border: 2px solid #000000;
}
.modal-write-us input[type="text"]:disabled,
.modal-write-us textarea:disabled {
  color: #e74246;

  border: 2px solid #e74246;
}

/*PLACEHOLDERS styles*/
.modal-write-us ::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5);
}
.modal-write-us ::-webkit-textarea-placeholder {
  font-size: 16px;
  color: rgba(68, 68, 168, 0.5);
}
.modal-write-us :-moz-placeholder {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5)
}
.modal-write-us ::-moz-placeholder {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5)
}
.modal-write-us :-ms-input-placeholder { 
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5)
}
.modal-write-us :-ms-textarea-placeholder {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5)
}
.modal-write-us input:placeholder {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5)
}
.modal-write-us textarea:placeholder {
  font-size: 16px;
  color: rgba(68, 68, 68, 0.5)
}
.modal-write-us .btn {
  margin-top: 30px;
}


/*SLIDER*/
.header-slider {
  position: relative;
  padding: 0;
}
.header-slider-content {
  overflow: hidden;
}
.header-slider-slides {
  width: 300%;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-slider-slides .slide {
  width: 1160px; 
}
.header-slider .slider-controls {
  position: absolute;
  width: 800px;
  bottom: 88px;
  left: 50%;
  margin-left: -395px;
  text-align: center;
  z-index: 10;
}
.slider-controls label {
  display: inline-block;

  position: relative;
  padding-left: 18px;
  margin: 0 14px 0 0; 

  vertical-align: bottom;
}
.slider-controls label:last-child {
  margin-right: 0;
}
.slider-controls label::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px; 

  border-radius: 50%;

  padding: 0;
  margin: 0;
  position: absolute;
  top: -20px;
  left: 0;
  
  vertical-align: top;

  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0 5px #ffffff;
          box-shadow: 0px 0px 0 5px #ffffff;
  border: 2px solid white;  
  background-color: white;
}

.header-slider input[type="radio"]:focus {
  outline: 5px solid red;
}
.header-slider .hint {
  padding: 0;
  margin: 0;
  position: absolute;
}
.header-slider .header-slider-content .slide-btn {
  display: none;
}

#btn-1:focus ~ .slider-controls label[for="btn-1"]::before,
#btn-2:focus ~ .slider-controls label[for="btn-2"]::before,
#btn-3:focus ~ .slider-controls label[for="btn-3"]::before,
#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before {
       border: 2px solid #c1c1c1;  
}
#btn-1:checked ~ .header-slider-content .header-slider-slides {
  -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
}
#btn-2:checked ~  .header-slider-content .header-slider-slides  {
  -webkit-transform: translate(-1160px);
        -ms-transform: translate(-1160px);
            transform: translate(-1160px);
}
#btn-3:checked ~  .header-slider-content  .header-slider-slides{
  -webkit-transform: translate(-2320px);
        -ms-transform: translate(-2320px);
            transform: translate(-2320px);
}
#btn-1:checked ~ .header-slider-content .slide-btn-1 {
   display: inline-block;
}
#btn-2:checked ~ .header-slider-content .slide-btn-2 {
   display: inline-block;
}
#btn-3:checked ~ .header-slider-content .slide-btn-3 {
   display: inline-block; 
}
#btn-1:checked ~ .header-slider-content .hint-1 {
   display: none;
}
#btn-2:checked ~ .header-slider-content .hint-2 {
   display: none;
}
#btn-3:checked ~ .header-slider-content .hint-3 {
   display:  none; 
}


